server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8700/eureka


spring:
  application:
    name: spring-cloud-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/emanuelezicola/SpringCloudTutorial
          default-label: master
          skip-ssl-validation: true
          search-paths:
            - config-repo/spring-cloud-server
            - config-repo/student-service
